<div class="ct-site--map ct-u-backgroundGradient">
    <div class="container">
        <div class="ct-u-displayTableVertical text-capitalize">
            <div class="ct-u-displayTableCell">
                <span class="ct-u-textBig">
                    Gallery
                </span>
            </div>
            <div class="ct-u-displayTableCell text-right">
                <span class="ct-u-textNormal ct-u-textItalic">
                    <a href="index.html">Features</a> / <a href="#">Gallery</a>
                </span>
            </div>
        </div>
    </div>
</div>
<section class="ct-u-paddingBoth100 ct-u-backgroundLightGreen">
    <div class="container">
        <div class="ct-u-sectionMotive text-center">
            <h3 class="ct-u-colorMotive ct-u-marginBottom40 ct-fw-600 text-uppercase">
                Recent works
            </h3>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="ct-fw-600">
                        The European languages are members of the same family. Their separate existence is a myth. For science,
                        vocabulary. The languages only differ in their grammar .
                    </p>
                </div>
            </div>
            <ul class="ct-gallery-filters ct-js-gallery-filters text-uppercase ct-u-doubleBorder">
                <li><a data-filter="*" class="btn btn-motive active"><span>All</span></a></li>
                <li><a data-filter=".web" class="btn btn-motive"><span>web design</span></a></li>
                <li><a data-filter=".wordpress" class="btn btn-motive"><span>wordpress</span></a></li>
                <li><a data-filter=".marketing" class="btn btn-motive"><span>marketing</span></a></li>
                <li><a data-filter=".graphic" class="btn btn-motive"><span>graphic design</span></a></li>
            </ul>
        </div>
        <div id="ct-gallery" class="ct-gallery ct-gallery--rounded ct-gallery--arrowBottom row ct-js-magnificPortfolioPopupGroup">
            <a class="ct-js-magnificPopupImage" href="assets/images/demo-content/header2.jpg" title="Our Gallery">
                <div class="ct-gallery-item ct-u-marginBottom30 col-sm-4 wordpress">
                    <figure class="ct-u-relative   ">
                        <img src="assets/images/demo-content/gallery1.jpg" alt="">
                        <figcaption class="ct-u-colorWhite">
                            <div class="ct-u-displayTable ct-gallery-meta">
                                <div class="ct-u-displayTableCell text-left">
                                    <h4>Project name</h4>
                                    <div class="text-left">
                                        <span>Logo, </span>
                                        <span>Design</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell text-right">
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </a>
            <a class="ct-js-magnificPopupImage" href="assets/images/demo-content/header.jpg" title="Our Gallery">
                <div class="ct-gallery-item ct-u-marginBottom30 col-sm-4 marketing">
                    <figure class="ct-u-relative ">
                        <img src="assets/images/demo-content/gallery2.jpg" alt="">
                        <figcaption class="ct-u-colorWhite">
                            <div class="ct-u-displayTable ct-gallery-meta">
                                <div class="ct-u-displayTableCell text-left">
                                    <h4>Project name</h4>
                                    <div class="text-left">
                                        <span>Logo, </span>
                                        <span>Design</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell text-right">
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </a>
            <a class="ct-js-magnificPopupImage" href="assets/images/demo-content/header4.jpg" title="Our Gallery">
                <div class="ct-gallery-item ct-u-marginBottom30 col-sm-4 graphic">
                    <figure class="ct-u-relative  ">
                        <img src="assets/images/demo-content/gallery3.jpg" alt="">
                        <figcaption class="ct-u-colorWhite">
                            <div class="ct-u-displayTable ct-gallery-meta">
                                <div class="ct-u-displayTableCell text-left">
                                    <h4>Project name</h4>
                                    <div class="text-left">
                                        <span>Logo, </span>
                                        <span>Design</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell text-right">
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </a>
            <a class="ct-js-magnificPopupImage" href="assets/images/demo-content/header5.jpg" title="Our Gallery">
                <div class="ct-gallery-item ct-u-marginBottom30 col-sm-4 graphic">
                    <figure class="ct-u-relative ">
                        <img src="assets/images/demo-content/gallery4.jpg" alt="">
                        <figcaption class="ct-u-colorWhite">
                            <div class="ct-u-displayTable ct-gallery-meta">
                                <div class="ct-u-displayTableCell text-left">
                                    <h4>Project name</h4>
                                    <div class="text-left">
                                        <span>Logo, </span>
                                        <span>Design</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell text-right">
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </a>
            <a class="ct-js-magnificPopupImage" href="assets/images/demo-content/header6.jpg" title="Our Gallery">
                <div class="ct-gallery-item ct-u-marginBottom30 col-sm-4 web">
                    <figure class="ct-u-relative ">
                        <img src="assets/images/demo-content/gallery5.jpg" alt="">
                        <figcaption class="ct-u-colorWhite">
                            <div class="ct-u-displayTable ct-gallery-meta">
                                <div class="ct-u-displayTableCell text-left">
                                    <h4>Project name</h4>
                                    <div class="text-left">
                                        <span>Logo, </span>
                                        <span>Design</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell text-right">
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </a>


            <a class="ct-js-magnificPopupImage" href="assets/images/demo-content/gallery1.jpg" title="Our Gallery">
                <div class="ct-gallery-item ct-u-marginBottom30 col-sm-4 wordpress">
                    <figure class="ct-u-relative ">
                        <img src="assets/images/demo-content/gallery6.jpg" alt="">
                        <figcaption class="ct-u-colorWhite">
                            <div class="ct-u-displayTable ct-gallery-meta">
                                <div class="ct-u-displayTableCell text-left">
                                    <h4>Project name</h4>
                                    <div class="text-left">
                                        <span>Logo, </span>
                                        <span>Design</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell text-right">
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>

            </a>

            <a class="ct-js-magnificPopupImage" href="assets/images/demo-content/header7.jpg" title="Our Gallery">
                <div class="ct-gallery-item ct-u-marginBottom30 col-sm-4 marketing">
                    <figure class="ct-u-relative ">
                        <img src="assets/images/demo-content/gallery7.jpg" alt="">
                        <figcaption class="ct-u-colorWhite">
                            <div class="ct-u-displayTable ct-gallery-meta">
                                <div class="ct-u-displayTableCell text-left">
                                    <h4>Project name</h4>
                                    <div class="text-left">
                                        <span>Logo, </span>
                                        <span>Design</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell text-right">
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </a>

            <a class="ct-js-magnificPopupImage" href="assets/images/demo-content/gallery8.jpg" title="Our Gallery">
                <div class="ct-gallery-item ct-u-marginBottom30 col-sm-4 web">
                    <figure class="ct-u-relative ">
                        <img src="assets/images/demo-content/gallery8.jpg" alt="">
                        <figcaption class="ct-u-colorWhite">
                            <div class="ct-u-displayTable ct-gallery-meta">
                                <div class="ct-u-displayTableCell text-left">
                                    <h4>Project name</h4>
                                    <div class="text-left">
                                        <span>Logo, </span>
                                        <span>Design</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell text-right">
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>

            </a>

            <a class="ct-js-magnificPopupImage" href="assets/images/demo-content/gallery9.jpg" title="Our Gallery">
                <div class="ct-gallery-item ct-u-marginBottom30 col-sm-4 marketing">
                    <figure class="ct-u-relative  ">
                        <img src="assets/images/demo-content/gallery9.jpg" alt="">
                        <figcaption class="ct-u-colorWhite">
                            <div class="ct-u-displayTable ct-gallery-meta">
                                <div class="ct-u-displayTableCell text-left">
                                    <h4>Project name</h4>
                                    <div class="text-left">
                                        <span>Logo, </span>
                                        <span>Design</span>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell text-right">
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </a>
        </div>
    </div>
</section>